<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
    title 台灣摩迪高 | 首頁
    link(rel="stylesheet", href="style.css")

    body

        div(id="banner")
            nav
                a(herf="index.html")
                    img(src="img/banner.jpg",alt="摩迪高 LOGO" class="banner")
                div(class="link")
                    a(href="#") 產品
                    a(href="#") 相關新聞
                    a(href="#") 聯絡我們
                    a(href="#") 關於我們
                
              
            
        footer
            nav
                img(src="img/banner.jpg", alt="摩迪高 LGOO" class="logo")
                div(class="link")
                    a(href="#") 最新消息
                    a(href="#") 產品介紹
                    a(href="#") 聯絡我們
                div(id="copy") Copyright &copy; 2019 摩迪高. All rights reserved            

            
        

        
                

