* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

body {
    text-align: center;
}

a { 
    color: black;
}

#banner {
    background-repeat: no-repeat;
    width: 100vw;
    /* calc 計算 - CSS 計算數字 + - * / */
    height: 100px;
}

.link {
    float: right;
    padding: 15px 0;

}

.link a {
    color: #000;
    text-decoration: none;
    padding: 5px 15px;
    /* 字體粗細 0 - 900 */
    font-weight: 800;
}
.link a:hover {
    background-color: rgba(0,0,0,0.1);
    color: black;
    transition: 0.6s;
}

nav {
        width: 80%;
        margin: 0 auto;
        padding: 50px 0;
        text-align: left;
}

/*商品*/
#product-link {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
#product-link div{
    display: inline-block;
    color: #000;
    text-decoration: none;
    padding: 5px 15px;
    font-weight: 800;
    font-size: 30px;
}
#product-link div:hover{
    background-color: rgba(0,0,0,0.8);
    color: white;
    transition: 0.6s;
}
.product-link-color {
    background-color: rgba(0,0,0,0.8);
    color: white!important; 
}
.product-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px 30px;
    width: 80%;
    margin: 0 auto;
}
.product-box {
    padding: 0 10px;
}
.product-img-box {
    overflow: hidden;
    min-height: 250px;
    margin: 20px;
    padding: 15px;
}
.product-img-box img {
    width: 100%;
    margin: 10px auto;
    transition: 1s;
}
.product-img-box img:hover {
    transform: scale(1.15);
}
.product-box h2 {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

/*表單*/
label {
    font-size: 18px;
  }
  
  form {
    background-color: #eee;
    width: 600px;
    height: 850px;
    margin: 100px auto 0 auto;
    padding: 30px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    text-align: left;
  }

  #company, #name, #email, #phone, #message {
    width: 100%;
    padding: 10px 5px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
  }
  
  fieldset {
    border: 0.5px solid rgba(0, 0, 0, 0.1)!important;
    margin: 10px 0!important;
    padding: 10px!important;
  }
  
  .btn {
    width: 40%;
    height: 50px;
    color: #999;
    font-size: 16px;
    font-weight: 500;
    margin: 10px;
  }

  .btn:hover {
      border: 3px solid rgba(34, 172, 214, 0.671);
  }
  
  #button {
    text-align: center;
    margin-top: 10px;
  }
  
  /* 預留文字 */
  ::placeholder {
    color: #ccc;
  }

footer {
        background-color: #414040;
        color: #fff;
        margin-top: 100px;
}

/*RWD*/
/* 媒體為螢幕 並且 寬度大於 1024px - 桌機*/
@media screen and (min-width: 1024px) {
  
}
/* 媒體為螢幕 並且 寬度大於 1023px - 平板*/
@media screen and (max-width: 1023px) {
    .product-area {
        grid-template-columns: 1fr 1fr;
    }
}
/* 媒體為螢幕 並且 寬度小於 767px - 手機*/
@media screen and (max-width: 767px) {
    .product-area {
        grid-template-columns: 1fr;
    }
}
